extends layout

block content
	form(method='post')
		table(border='1')
			tr
				th Phone Numbers
				th Rolls (will be randomized)
			tr
				td
					ul
						each player in vars.players
							li
								input(type='text', name='number', value='#{player.number}')
								input(type='text', name='provider', value='#{player.provider}')
				td
					ul
						each roll in vars.rolls
							li
								input(type='text', name='roll', value='#{roll.name}')
